.dirtyField {
    color:blue;
}

.ui-widget-overlay {
    position: fixed !important;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }


#tablePivot {
    visibility : hidden
}

#simulateButton {
    visibility : hidden
}

.modal {
    text-align: center;
}

.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#options {
    visibility : hidden;
    background: #888;
    width : 945px;
    height: 40px;
    widows: inherit;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;;
}

#editingChoice{
    margin-top: 12px;
}

#labelEditingMode {
    font-size: 120;
}

/*
[data-id="2912959359"], [data-id="2912959359"]>th{
    color : red;

}


[data-id="4214993387"], [data-id="4214993387"]>th,[data-id="112335355"], [data-id="112335355"]>th,
[data-id="2271481948"], [data-id="2271481948"]>th, [data-id="2271481948"], [data-id="2271481948"]>th,
[data-id="3484225860"], [data-id="3484225860"]>th, [data-id="3751768364"], [data-id="3751768364"]>th
{
    color : blue;
}


[data-id="1943833587"], [data-id="1943833587"]>th,[data-id="1354470332"], [data-id="1354470332"]>th,
[data-id="985901126"], [data-id="985901126"]>th, [data-id="1015489101"], [data-id="1015489101"]>th{
    color: lightgreen;
}*/




#toAppend {
    

}
